<!DOCTYPE html>
<html lang="en-us">

<head>

	<meta charset="UTF-8">
	<title>All Resources</title>
	<!-- Bootstrap CSS & JS TEST-->
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.auth0.com/js/lock/11.3.0/lock.min.js"></script>
    

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- <script type="text/javascript" src="/js/materialize.min.js"></script> -->


	<nav>
			<div class="nav-wrapper">
			  <a href="#!" class="brand-logo"><img class="logoSize" src ="/images/logo.png"></a>
			  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
						<li><a href="/" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-eye-open"></span> Search Resources</a></li>
						<li><a href="/add" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-plus"></span> Add New Resource</a></li>
						<li><a href="/all" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-th-list"></span> All Resources</a></li>
						<li><a href="/logout" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-th-list"></span> Logout</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/">Search Resources</a></li>
					<li><a href="/add">Add New Resource</a></li>
					<li><a href="/all">All Resources</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
	</nav>
 
    {{{body}}}
 
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>